<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        .about-section {
            padding-top: 100px;
            background-color: white;
            color: black;
            font-size: 18px;
            text-align: justify;
        }

        .container-sub {
            margin: 20px 20px;
            color: black;
        }

        .profiles {
            float: left;
            display: flex;
            justify-content: space-around;
            margin: 20px 80px;
            text-align: center;
        }

        .profile {
            float: left;
            width: 25%
        }

            .profile .profile-img {
                height: 150px;
                width: 150px;
                border-radius: 50%;
            }
            .profile > p {
                margin: 20px 10px 80px 10px;
                display: inline-block;
                font-size: 16px;
            }

        h1 {
            margin-top: -40px;
            text-transform: uppercase;
            font-weight: 700;
            color: #004D4D;
        }
    </style>
</head>
<body>
    <div class="about-section">
        <h1 style="text-align:center;">Giới thiệu</h1>

        <p style="opacity: 0.6; font-style: italic; text-align: center;">You don't need to buy expensive cosmetics; almost anything will do if you know how to apply it - Dolly Parton</p>
        <div style="padding:10px;"><b>Sophia Beauty</b> được chính thức đưa vào hoạt động ngày 11/11/2021 với mục tiêu chăm sóc sắc đẹp và sức khỏe toàn diện cho người Việt Nam.</div>
        <div style="padding:10px;"><b>Sophia Beauty</b>  đã tạo ra những trải nghiệm mua sắm trực tuyến tuyệt vời cùng đội ngũ tư vấn viên nhiệt tình và chuyên nghiệp cam kết mang đến cho bạn không gian mua sắm và những trải nghiệm tốt nhất khi đến với chúng mình. </div>
        <div style="padding:10px;"><b>Sophia Beauty</b>  mong rằng có thể đồng hành cùng bạn trong quá trình chăm sóc và làm đẹp cho bản thân, giúp bạn tự tin và tốt hơn mỗi ngày.</div>
        <div style="padding:10px;"><b>Sophia Beauty</b>  luôn tôn trọng khách hàng, lấy niềm vui, sự hài lòng của khách hàng để làm động lực, không ngừng tìm kiếm các sản phẩm tốt nhất để mỗi khách hàng đều có thể trở nên tự tin và xinh đẹp hơn. Các hãng thương hiệu mỹ phẩm ở Sophia Beauty luôn là các thương hiệu uy tín, được mọi người tin dùng như: Secret Key, Laneige, Vichy, Avène, Yves Rocher, Laroche Posay, Lancôme,...Bên cạnh đó khi mua hàng ở Sophia, khách luôn được giá ưu đãi tốt nhất, dịch vụ nhanh chóng & nhiều chương trình khuyến mãi, tích điểm khác để tri ân khách hàng đã lựa chọn và đồng hành cùng Sophia Beauty.</div>
        <div style="padding:10px;">Hiện tại, Sophia chỉ có DUY NHẤT 1 cửa hàng tại số 371 Nguyễn Kiệm, Phường 3, Q. Gò Vấp TP.HCM. Quý khách có thể đến tham quan và mua sắm từ 9h – 21h hằng ngày (bao gồm cả Chủ nhật và ngày lễ).  </div>
        <div style="padding:10px;">Đến với Sophia Beauty khách hàng sẽ trải nghiệm việc mua sắm trực tuyến với các bước thanh toán an toàn, đơn giản, nhanh chóng, đáp ứng tiêu chuẩn Quốc tế.</div>
        <div style="padding:10px;">
            Với phương châm <b style="color: #0c6363;font-size:22px">“Chất lượng thật - Giá trị thật”</b> Sophia Beauty luôn nỗ lực không ngừng nhằm nâng cao chất lượng dịch vụ để khách hàng được hưởng các dịch vụ chăm sóc tốt nhất.
        </div>
    </div>


    <div class="container-sub">
        <div class="profiles">
            <div class="profile">
                <img src="~/Image/about4.jpg" class="profile-img">
                <p>Thương hiệu uy tín tại Việt Nam</p>
            </div>
            <div class="profile">
                <img src="~/Image/about1.jpg" class="profile-img">
                <p>Thanh toán khi nhận hàng</p>
            </div>
            <div class="profile">
                <img src="~/Image/about3.jpg" class="profile-img">
                <p>Đổi trả hàng miễn phí trong vòng 14 ngày</p>
            </div>
            <div class="profile">
                <img src="~/Image/about2.jpg" class="profile-img" style="width:195px;">
                <p>Nhận hàng trong vòng 24h</p>
            </div>
        </div>
    </div>

</body>
</html>

